@import '../../../styles/color-scheme.scss';

.voting .dashboard {
  hr {
    margin: 40px 0;
  }

  .callout.primary {
    background-color: $primaryColor;
    color: $textColorLight;
  }
  a {
    color: $textColorLight;
  }

}